platform: Any CPU

environment:
  global:
    CONFIGS: Debug
    HOPAC_STRONG_NAME: 1
    CYG_ROOT: C:/cygwin
    CYG_CACHE: C:/cygwin/var/cache/setup
    CYG_MIRROR: http://mirrors.kernel.org/sourceware/cygwin/
    CYG_ARCH: x86

  matrix:
    - USE: net
    - USE: netcore

install:
  - 'git submodule update --init --recursive'
  - 'appveyor DownloadFile http://cygwin.com/setup-%CYG_ARCH%.exe -FileName setup.exe'
  - 'setup.exe -qnNdO -R "%CYG_ROOT%" -s "%CYG_MIRROR%" -l "%CYG_CACHE%" >NUL'
  - '%CYG_ROOT%/bin/bash -lc "cygcheck -dc cygwin"'

build_script:
  - '%CYG_ROOT%/bin/bash -lc "cd \"$OLDPWD\" && ./run -x tests"'
