version: "{build}"

branches:
  only:
    - master

matrix:
  fast_finish: true

platform: Any CPU

configuration:
  - Debug
  - Release

build:
  project: Hopac.sln
  verbosity: quiet
