p > code.hljs {
  display: inline;
  padding: 1px;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80%;
  border-radius: 3px;
}
code.hljs {
  overflow: visible;
}
span.h3 {
  display: inline-block;
  font-style: italic;
  margin: 0.75em 0em 0.5em 0em;
}
span.spacing {
  display: inherit;
  margin: 0.5em 0em 0.5em 0em;
}
div.description >*:not(:first-child) {
  padding-left: 1.5em;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.anchor {
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em 1em 0 1em;
  bottom: 140%;
  left: 50%;
  width: 40em;
  overflow: auto;
  transform: translate(-20%, 0);
  font-size: 80%;
}
.anchor:hover .tooltip {
  display: inline;
}
.tooltip * {
  word-break: normal;
  white-space: normal;
}
