source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 4

group Tests
  source https://nuget.org/api/v2

  nuget FsCheck

group Benchmarks
  source https://nuget.org/api/v2

  nuget FSharp.Core ~> 4
  nuget System.Reactive