source https://www.nuget.org/api/v2
nuget FAKE
nuget FsCheck 2.2.2 framework: >= net45
nuget FSharp.Core ~> 3
nuget Rx-Core 2.2.5 framework: >= net45
nuget Rx-Interfaces 2.2.5 framework: >= net45
nuget Rx-Linq 2.2.5 framework: >= net45
nuget Rx-Main 2.2.5 framework: >= net45
nuget Rx-PlatformServices 2.2.5 framework: >= net45
nuget SourceLink.Fake
